
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

<<<<<<< HEAD
footer h3 {
  font-weight: 400;
}

footer a {
  text-decoration: none;
  color: white;
}

.bi {
  font-size: 2rem;
  color: white;
  opacity: 30%;
  margin-right: 8px;
}

.bi:hover {
  opacity: 80%;
}
=======
.home-header {
  min-height: 1000px;
  background-image: url(../public/img/hero-bg.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 5.5em;
}

header h2 {
  font-size: 4.2em;
}



>>>>>>> skills
