
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.home-header {
  min-height: 1000px;
  background-image: url(../public/img/hero-bg.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 5.5em;
}

header h2 {
  font-size: 4.2em;
}



