
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

footer h3 {
  font-weight: 400;
}

footer a {
  text-decoration: none;
  color: white;
}

.bi {
  font-size: 2rem;
  color: white;
  opacity: 30%;
  margin-right: 8px;
}

.bi:hover {
  opacity: 80%;
}